Repository cenobites/flask-jsonrpc: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, pylint, mypy, bandit, safety, pytest

black:
  name: black
  language: system
  entry: black flask_jsonrpc/ tests/ examples/

isort:
  name: isort
  language: system
  entry: isort .

flake8:
  name: flake8
  language: system
  entry: flake8 flask_jsonrpc/ tests/
  args:
  - --config=setup.cfg

pylint:
  name: pylint
  language: system
  entry: pylint flask_jsonrpc/

mypy:
  name: mypy
  language: system
  entry: mypy flask_jsonrpc/

bandit:
  name: bandit
  language: system
  entry: bandit -r flask_jsonrpc/

safety:
  name: safety
  language: system
  entry: safety check
  pass_filenames: false

pytest:
  name: pytest
  language: system
  entry: pytest flask_jsonrpc/ tests/
  pass_filenames: false

Version 2.0.0
  flask_jsonrpc/__init__.py
  setup.py
Due: black, isort, flake8, pylint, mypy, bandit, safety, pytest

Version 2.0.0
  setup.py
Due: black, isort, flake8, pylint, safety, pytest

Ajust build matrix for travis
  .travis.yml
Due: none

Add dependabot.yml
  .github/dependabot.yml
Due: none

Add support to async and await
  examples/async/README.rst
  examples/async/async_minimal.py
  setup.py
  src/flask_jsonrpc/site.py
  tests/conftest.py
  tests/test_async_app.py
  tests/test_async_client.py
  tox.ini
Due: black, isort, flake8, pylint, safety, pytest

Configure dependabot.yml
  .github/dependabot.yml
Due: none

Fix docs directories
  docs/_static/.keep
  docs/_templates/.keep
Due: none

Add badge docs
  README.md
Due: none

Fix docs requirements versions
  requirements/docs.txt
Due: none

Update versions and ajust code
  .pre-commit-config.yaml
  examples/decorator/decorator.py
  src/flask_jsonrpc/helpers.py
  src/flask_jsonrpc/site.py
Due: black, isort, flake8, pylint, safety, pytest

Remove ignored files
  .vscode/.ropeproject/config.py
  .vscode/.ropeproject/objectdb
Due: black, isort, flake8, pylint, safety, pytest

Update README.md
  README.md
Due: none

Create FUNDING.yml
  FUNDING.yml
Due: none

Add FUNDING.yml
  .github/FUNDING.yml
Due: none

Unindent & highlight code sections
  README.md
Due: none

Version 2.1.0
  docs/conf.py
  src/flask_jsonrpc/__init__.py
Due: black, isort, flake8, pylint, safety, pytest

Add support to Python 3.10
  .coveragerc
  .docker/wait-for-it.sh
  .docker/wait-for.sh
  .dockerignore
  .gitignore
  .pre-commit-config.yaml
  .travis.yml
  Dockerfile.it
  Dockerfile.local
  Dockerfile.py310.test
  Dockerfile.py37.test
  Dockerfile.py38.test
  Dockerfile.py39.test
  README.md
  bin/docker-compose-it.sh
  bin/docker-compose-test.sh
  docker-compose.it.yml
  docker-compose.test.yml
  pyproject.toml
  requirements/base.txt
  requirements/ci.txt
  requirements/test.txt
  setup.cfg
  src/flask_jsonrpc/__init__.py
  src/flask_jsonrpc/helpers.py
  src/flask_jsonrpc/site.py
  src/flask_jsonrpc/types.py
  src/flask_jsonrpc/wrappers.py
  tests/conftest.py
  tests/test_app.py
  tests/test_apps/__init__.py
  tests/test_apps/app/__init__.py
  tests/test_apps/async_app/__init__.py
  tests/test_apps/conftest.py
  tests/test_apps/pytest.ini
  tests/test_apps/pytest.local.ini
  tests/test_apps/test_app.py
  tests/test_async_app.py
  tests/test_types.py
  tox.ini
Due: black, isort, flake8, pylint, safety, pytest

Update site.py
  src/flask_jsonrpc/site.py
Due: black, isort, flake8, pylint, safety, pytest

Add tests (unit tests, integration tests) to support new headers
  src/flask_jsonrpc/site.py
  tests/test_app.py
  tests/test_apps/test_app.py
  tests/test_async_app.py
  tests/test_async_client.py
  tests/test_client.py
Due: black, isort, flake8, pylint, safety, pytest

Version 2.2.1
  docs/conf.py
  src/flask_jsonrpc/__init__.py
Due: black, isort, flake8, pylint, safety, pytest

Upgrade typing_extensions version from >=3.7.4 to >=4.2.0
  requirements/base.txt
Due: none

Replace pytest-runner with tox
  Makefile
  setup.py
Due: black, isort, flake8, pylint, safety, pytest

Improving License Clarity with Better Package Metadata
  setup.cfg
  setup.py
  tests/test_apps/pytest.ini
  tests/test_apps/pytest.local.ini
Due: black, isort, flake8, pylint, safety, pytest

Bump dependencies version
  .pre-commit-config.yaml
  requirements/ci.txt
Due: none

Update Pylint configurations
  .pylintrc
  src/flask_jsonrpc/exceptions.py
Due: black, isort, flake8, pylint, safety, pytest

Bump dependencies versions and ajust the code to support that upgrade.
  requirements/ci.txt
  requirements/test.txt
  setup.py
  src/flask_jsonrpc/views.py
  tox.ini
Due: black, isort, flake8, pylint, safety, pytest

Add GitHub actions for testing to push and pull_requests
  .dockerignore
  .github/workflows/on_update.yml
  .github/workflows/pre_release.yml
  .github/workflows/release.yml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yaml
  Makefile
  pyproject.toml
  requirements/base.txt
  requirements/ci.txt
  requirements/test.txt
  setup.cfg
  setup.py
  tests/test_apps/pytest.ini
  tests/test_apps/pytest.local.ini
  tox.ini
Due: black, isort, flake8, pylint, safety, pytest

Bump flake8-bugbear from 22.7.1 to 22.9.11
  .pre-commit-config.yaml
Due: none

Bump typing-inspect from 0.7.1 to 0.8.0
  setup.py
Due: black, isort, flake8, pylint, safety, pytest

Bump coverage from 6.4.3 to 6.4.4
  junit/test-results.xml
  setup.py
Due: black, isort, flake8, pylint, safety, pytest

Bump coverage from 6.4.3 to 6.4.4
  junit/test-results.xml
Due: none

Bump pytest from 7.1.2 to 7.1.3
  setup.py
Due: black, isort, flake8, pylint, safety, pytest

Bump black from 22.6.0 to 22.8.0
  .pre-commit-config.yaml
Due: none

Bump flake8-pyi from 22.8.1 to 22.8.2
  .pre-commit-config.yaml
Due: none

Bump version in pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Remove redudant events logs
  src/flask_jsonrpc/site.py
  src/flask_jsonrpc/views.py
Due: black, isort, flake8, pylint, safety, pytest

Path conditions:
  black: any of: \.py$, but not: docs|.git|.tox|.venv
  isort: any of: \.py$, but not: docs|.git|.tox|.venv
  flake8: any of: \.py$, but not: docs|.git|.tox|.venv
  pylint: any of: \.py$, but not: docs|.git|.tox|.venv
  mypy: any of: ^flask_jsonrpc/ and \.py$ and not (docs|.git|.tox|.venv)
  bandit: any of: ^flask_jsonrpc/ and \.py$ and not (docs|.git|.tox|.venv)
  safety: any of: \.py$, but not: docs|.git|.tox|.venv
  pytest: any of: \.py$, but not: docs|.git|.tox|.venv
